*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: rgb(10, 32, 70);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  
  }
  .search{
    position: absolute;
    top: 15px;
    left:94%;
   
    
  
  }

  #search{
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin-right: 25px;
    width: 70%;
  }

#cart-products{
    display: grid;
    justify-content: center;    
}

.e-card{
    /* border: 1px solid grey; */
    padding: 15px;
    margin: 8px;
    /* text-align: center; */
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
    width: 56em;
    height: 16em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
 
  }
   .e-card img{
     width: 12em;
     height: 10em;
     /* padding-right: 5px; */
     background-position: center;
     object-fit: cover;
     background-size: cover;
     
     
  
     
  }
  .e-img{
    display:grid;
    /* border: 1px solid yellow; */
    text-align: center;
    padding-left: 20px;
    
   

  }
  .e-doc{
   padding: 10px;
  }
  .e-doc h6{
  
 
     color: black;
     font-size: 15px;
     font-weight: 100;
     margin-bottom: 10px;
     }
     .e-doc h4{
     color:black;
     padding-top: 2px;
     font-size: 18px;
     font-weight: lighter;
     margin-bottom: 5px;
 
     }

     .btn{
        background-color:rgb(172, 30, 26);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 7px;
       
  
      }

      .e-doc h6{
        color: rgb(128, 125, 125);
        font-size: 10px;
        font-weight: bold;
      }
  
      .math{
        color: rgb(135, 133, 133);
        text-decoration: line-through;
      }
      .price{
        color: black;
        font-weight: bold;
        margin-right: 12px;
        font-size: 18px;
      }
  
      .discnt{
        color: rgb(18, 120, 18);
        margin-left: 15px;
        font-weight: bold;
  
      }
      .prices{
        margin-bottom: 15px;
  
      }
  
      .icon{
        font-size: 10px;
        text-align: center;
      
      }
      .pro-btn1{
        border: none;
        background-color: rgb(29, 145, 29);
        color: white;
        padding: 3px 5px;
        border-radius: 5px;
      }
  
      .child11{
        color: white;
        
      }
      .child1{
        color: white;
        /* float: right; */
        
      }

      #total-item{
        width: 15%;
      }

      .cart-no{
        /* margin-right: 10%; */
        margin-top: 10%;

      }
      .cart-no button{
        padding: 3px 8px;
        margin-left: 10px;
        margin-right: 10px;
       

      }
      #total-item{
        font-weight: bold;
        font-size: 18px;
      }
      #total-items{
        /* font-weight: bold; */
        /* font-size: 18px; */
        width: 10%;
      }
    
  
     
  .total-price{
    width: 56em;
    height: 16em;
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
    display: grid;
    background-color: aqua;
    justify-content: center;

  }

  .nav-head{
    color: white;
    text-decoration: none;

    
  }
  .head-img{
    width: 100px;
     color: white;
   }

   .total-price-details{
    padding: 15px;
    margin: 8px;
    /* text-align: center; */
    box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
    width: 79em;
    /* width: 100%; */
    height: 14em;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);


    
   }
   #cart2{
    color: green;
   }
   
   #cart1,
   #cart2,#cart3,#cart4{
    /* width: 100%; */
    float: right;
    /* border: 1px solid black; */
    margin-left:1050px;
    font-size: 16px;
    margin-bottom: 20px;
    

    
  
   }

   #cart4{
    padding-bottom: 20px;
   }
   .total-price-details h4{
    color: gray;
    margin-bottom: 30px;

   }
   .total-price-details p{
    font-size: 17px;
   }
   h3{
    font-size: 20px;
   }
   .cart-details{
    display: grid;
    justify-content: center;
    
   }

   .nav-items{
    position: absolute;
    top: 15px;
    left: 10%;
    display: flex;
   }
   .nav-items p{
    margin: 0 15px;
    color: rgb(255, 255, 255);
    font-size: 16px;
  
  
   }
   .nav-items :hover{
    color: rgb(190, 171, 51);
    text-decoration: underline;
    text-decoration-color:rgb(153, 137, 32);
    text-underline-offset: 10px;
    
   }
   .a-tag{
    text-decoration: none;
   }
   .last-btn2{
    border: none;
    background-color: rgb(232, 143, 87);
    padding: 10px 40px;
    margin-left: 35px;
    border-radius: 6px;
   
   
  }

  