*{
    padding: 0;
    margin: 0;
}
.heading{
  background-color: rgb(10, 32, 70);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 30px;

}
/* 
.head-img{
  width: 50px;
  height: 50px;
} */
 .nav-items{
  position: absolute;
  top: 15px;
  left: 10%;
  display: flex;
 }
 .nav-items p{
  margin: 0 15px;
  color: rgb(255, 255, 255);
  font-size: 16px;


 }
 .nav-items :hover{
  color: rgb(190, 171, 51);
  text-decoration: underline;
  text-decoration-color:rgb(153, 137, 32);
  text-underline-offset: 10px;
  
 }

 
.search{
  position: absolute;
  top: 15px;
  left:70%;
  width: 30%;

}
.search1{
  position: absolute;
  top: 15px;
  left:94%;
  /* width: 30%; */

}
#search{
  padding: 5px;
  border: none;
  border-radius: 12px;
  margin-right: 25px;
  width: 70%;
}

.eight{
   width: 100%;
   height: 50vh;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px 30px;  */
    padding-top: 2%;
    /* border: 1px solid greenyellow; */
    align-items: center;
    justify-content: center;

}

 
 .e-card{
   /* border: 1px solid grey; */
   padding: 15px;
   box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
   width: 250px;
   height: 320px;
   border-radius: 5px;
   margin: 15px;
   

 }
 .e-card:hover{
  width: 249px;
  height: 319px;

  box-shadow: .5px .5px 7px rgb(204, 207, 213);
}
  .e-card img{
    
    width: 12em;
    height: 12em;
    /* padding-right: 5px; */
    background-position: center;
    object-fit: cover;
    background-size: cover;
    margin-left: 20px;
    
    
 
    
 }
 .e-doc{
  padding: 10px;
 }
 .e-doc h6{
 

    color: black;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
    }
    .e-doc h4{
    color:black;
    padding-top: 2px;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 5px;

    }
 
    
  

    .btn{
      background-color:rgb(172, 30, 26);
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 7px;
     

    }

    .product{
      width: 100%;
      height: 80vh;
      /* background-color: rgb(241, 239, 238); */
       margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-around; */

    }
.pro-cards{
   /* position: absolute; */
   /* top: 2%;
   left: 1%; */
   margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
   
}

    .pro-card{
      width: 4rem;
      height: 4rem;
      /* border: 2px solid red; */
      margin: 10px;
      box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 15px;
    

    }

    .pro-card img{
      width: 4rem;
      height: 4rem;
      object-fit: cover;
    }

    .pro-pic{
      width: 36em;
      height: 32rem;
      /* position: absolute; */
      /* top: 3%;
      left: 9%; */
      box-shadow:  rgba(0, 0, 0, 0.40) 0px 5px 16px ;
      text-align: center;

    }
    .pro-pic img{
      width: 20rem;
      height: 22rem;
      margin: 70px 20px;
    }

    .pro-content{
      /* position: absolute;
      top: 4%;
      left: 40%; */
      width: 40%;
      margin-left: 80px;
      margin-top: 10px;
    }
    .pro-btn{
      border: none;
      background-color: rgb(20, 184, 20);
      color: white;
      padding: 3px 12px;
      border-radius: 13px;
    }
    
    .last-btn{
      /* align-items: center; */
    }
    .last-btn1{
      border: none;
      background-color: orange;
      padding: 10px 40px;
      margin-left: 35px;
      border-radius: 6px;
     
     
    }
    .last-btn2{
      border: none;
      background-color: rgb(232, 143, 87);
      padding: 10px 40px;
      margin-left: 35px;
      border-radius: 6px;
     
     
    }

    .e-doc h6{
      color: rgb(128, 125, 125);
      font-size: 10px;
      font-weight: bold;
    }

    .math{
      color: rgb(135, 133, 133);
      text-decoration: line-through;
    }
    .price{
      color: black;
      font-weight: bold;
      margin-right: 12px;
      font-size: 18px;
    }

    .discnt{
      color: rgb(18, 120, 18);
      margin-left: 15px;
      font-weight: bold;

    }
    .prices{
      margin-bottom: 15px;

    }

    .icon{
      font-size: 10px;
      text-align: center;
    
    }
    .pro-btn1{
      border: none;
      background-color: rgb(29, 145, 29);
      color: white;
      padding: 3px 5px;
      border-radius: 5px;
    }

    .child11{
      color: white;
      
    }

    .nav-head{
      color: white;
      text-decoration: none;
      
    }

    .a-tag{
      text-decoration: none;
    }

    .head-img{
     width: 100px;
      color: white;
    }

    #products1{
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      /* align-items: center; */
      justify-content: center;
    
    }

   
    

